.termindex {
  columns: 11rem auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.termindex ol {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.termindex li {
  margin-left: 1rem; 
  text-indent: -1rem 
}
