.wrapper {
  // padding-bottom: $lh*4;
}

.header {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  @media #{$medium} {
    &--flex {
      position: fixed;
      top: 0;
      z-index: 1;
    }
  }
}

.footer {
  &--flex {
    align-items: flex-end;
  }
}

.header, .footer {
  &__title, &__copyright {
    @include grid-column;
  }
  &__meta, &__text {
    @include grid-column;
  }
  &__nav {
    @include grid-column;
    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      display: inline-block;
    }
  }
  &--flex {
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: $lh/2;
    p {
      margin-bottom: $lh/2;
    }
    &__1 {
      order: 1;
      flex-basis: auto;
    }
    &__2 {
      @include grid-row;
      flex-grow: 2;
      order: 3;
      flex-basis: 100%;
    }
    &__3 {
      order: 2;
    }
  }
  @media #{$medium} {
    &--flex {
      &__1 {
        order: 1;
      }
      &__2 {
        order: 2;
        flex-basis: $row-width;
      }
      &__3 {
        order: 3;
      }
    }
  }
}

.content {
  @include grid-row;
  padding-top: $lh*3;
  @media #{$medium} {
    padding-top: $lh*6.5;
  }
}

.footer {
  // @include grid-row;
}

.pagination {
  @include grid-column;
  width: 100%;
}

.post {
  @include grid-column;
  margin-bottom: $lh*8;
  width: 100%;
  &__title {
    margin-bottom: 1em;
  }
  &__content {
    margin-bottom: $lh;
    img {
      max-width: 100%;
      margin-bottom: $lh;
    }
    .wp-caption, figure {
      img {
        margin-bottom: $lh/2;
      }
    }
    .wp-caption-text, figcaption {
      @include font-small;
    }
  }
  &__meta {
    @include font-small;
  }
  &__tags {
    @include font-small;
    list-style-type: none;
    margin: 0;
  }
  &__tag {
    display: inline-block;
    &__btn {
      display: inline-block;
      text-decoration: none;
      margin-bottom: $lh/2;
      text-decoration: none;
      padding: $lh/4 $lh/2 $lh/2.75 $lh/2;
      border: 1.5px solid $black;
      border-radius: $lh;
      background: $black;
      color: white;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      &:hover {
        color: $black;
        background: white;
      }
    }
  }
}

.small {
  @include font-small;
}