.searchform {
  margin-bottom: 2em;
  margin-top: 2em;
}

.searchform label {
  @include visuallyhidden;
}

.searchform input[type="text"] {
  border: 1px solid transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100vw - (var(--gutter) * 2));
  padding: $container-padding 0 $container-padding $container-padding;
  width: 100%;
}

.searchform input[type="submit"] {
  background: white;
  cursor: pointer;
  padding: 1rem;
}

.searchform input[type="submit"]:hover {
  text-decoration: underline;
}

.searchform__group {
  border: 1px solid black;
  display: flex;
  margin-bottom: 0.5rem;
}
