.menu-header-container ul {
  list-style-type: none;
}

.menu > ul {
  padding-left: 0;
}

.menu li {
  @include style-h1;
}

.menu a {
  display: inline-block;
  margin: 0 0 1rem;
}

.menu a:hover {
  text-decoration: underline;
}

#menu-toggle {
  display: none;
}

.open-menu:hover .open-menu__button {
  text-decoration: underline;
}

.open-menu__button--close {
  display: none;
}

#menu-toggle:checked ~ .open-menu .open-menu__button--open {
  display: none;
}

#menu-toggle:checked ~ .open-menu .open-menu__button--close {
  display: inline;
}

.open-menu {
  cursor: pointer;
  height: $header-height;
  padding: $container-padding var(--gutter);
  position: fixed;
  right: calc((100vw - #{$container-width}) / 2);
  top: 0;
  z-index: 70;
  @media (max-width: $container-width) {
    right: 0;
  }
}

.admin-bar .open-menu {
  top: 32px;
}
