.comments {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  summary {
    @include style-h4;
  }
  details {
    color: $grey;
  }
  details[open] {
    color: $black;
    margin-bottom: 3rem;
  }
  label {
    display: block;
    margin-bottom: 0.25rem;
  }
  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  input[type="checkbox"] ~ label {
    display: inline;
    letter-spacing: normal;
    text-transform: none;
  }
  textarea,
  input[type="text"],
  input[type="url"] {
    border: 1px solid $black;
    display: block;
    max-width: 100%;
    padding: $container-padding 0 $container-padding $container-padding;
    width: 100%;
    /* stylelint-disable */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* stylelint-enable */
  }
  input[type="text"] {
    padding: $container-padding 0 $container-padding $container-padding;
  }
  input[type="submit"] {
    background: $black;
    color: $white;
    display: inline-block;
    height: 1.75rem;
    padding: 0.5rem;
    @include style-h4;
  }
  input[type="submit"]:hover {
    background: $white !important;
    color: $black;
  }
}

.comments--has-comments details {
  color: $black;
}

.comment-reply-title {
  display: none;
}

.comment-respond label {
  @include style-h4;
}

.comments__count {
  color: $grey;
}

.comment-form-cookies-consent {
  display: flex;
}

.comment-form-cookies-consent input[type="checkbox"] {
  margin-top: 0.25rem;
}

.comments--has-comments {
  margin-top: 3rem;
}

.comment-list {
  list-style-type: none;
  padding-left: 0;
}

.comment-list ol.children {
  list-style-type: none;
  padding-left: 0;
}

.comment-author a:hover,
.comment-author a:focus {
  text-decoration: underline;
}

.comment-author {
  @include style-h4;
  margin-bottom: 1.5rem;
}

.comment-author cite {
  font-style: normal;
}

.comment-avatar {
  display: none;
}

.comment {
  border: 1px solid $black;
  margin-top: 1rem;
  padding: $container-padding;
}

.comment-avatar img {
  display: block;
  margin-bottom: 0.5rem;
  max-width: 3rem;
}

.comment-content > h1,
.comment-content > h2,
.comment-content > h3,
.comment-content > h4,
.comment-content > h5,
.comment-content > h6,
.comment-content > p,
.comment-content > table {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.comment-content img {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.comment-content > blockquote,
.comment-content > ul {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.comment-content > ul {
  padding-left: 1rem;
}

.comment-body .prose pre {
  max-width: 100%;
  /* stylelint-disable */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* stylelint-enable */
}

.comment-reply-link {
  background: $black;
  color: $white;
  display: inline-block;
  height: 2.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  @include style-h4;
  /* stylelint-disable */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* stylelint-enable */
}

.comment-reply-link:hover,
.comment-reply-link:focus {
  background: $white !important;
  color: $black;
}
