body.is-not-tabbing.is-header-open {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
}

.is-not-tabbing.is-header-open .header {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* stylelint-disable */
  -webkit-overflow-scrolling: touch;
  /* stylelint-enable */
}

.is-tabbing.is-header-open .archive-description {
  display: none;
}

.header,
.header__summary {
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__summary {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.header__summary:hover .header__title {
  text-decoration: underline;
}

.header__title {
  display: inline;
}

.header__desc {
  margin-bottom: 2em;
}

.header__desc.prose p {
  padding-left: 0;
  padding-right: 0;
}

.smallprint {
  color: $grey;
  margin-bottom: 1em;
}

.smallprint > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.smallprint a {
  text-decoration-color: $grey !important;
}

.menu-header-container {
  margin-top: 1rem;
}

.menu-header-container ul {
  list-style-type: none;
}

.menu {
  padding-left: 0;
}

.menu.col-2 {
  columns: 2;
}

.menu a {
  display: inline-block;
  padding-bottom: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  text-decoration: underline;
}

#title {
  @include visuallyhidden;
}

#title:focus,
#title:active {
  @include container;
  height: auto;
  left: auto;
  overflow: auto;
  padding-top: 1rem;
  position: static;
  width: auto;
  z-index: 50;
}

#menutoggle {
  @include visuallyhidden;
}

#title:focus ~ .header__details #menutoggle,
#title:active ~ .header__details #menutoggle {
  height: auto;
  left: auto;
  overflow: auto;
  padding-top: 1rem;
  position: static;
  width: auto;
  z-index: 50;
}

#title:focus ~ .header__details .header__title,
#title:active ~ .header__details .header__title {
  display: none;
}

// Custom menu icon

body:not(.no-details) {
  .header__title {
    display: flex;
  }

  .header__title > * {
    margin-right: 0.75rem;
  }

  .header__breadcrumb {
    flex-grow: 1;
  }

  .header__summary {
    list-style: none;
    &::-webkit-details-marker {
      display: none;
    }
  }

  .nav-icon {
    flex-shrink: 0;
    margin-right: 0;
    order: 2;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 16px;
    @media (min-width: 500px) {
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }

  .nav-icon:after,
  .nav-icon:before,
  .nav-icon div {
    background-color: black;
    content: "";
    display: block;
    height: 2px;
    margin: 3px 0;
  }

  .header__details[open] {
    .nav-icon:before {
      transform: translateY(5px) rotate(135deg);
    }
    .nav-icon:after {
      transform: translateY(-5px) rotate(-135deg);
    }
    .nav-icon div {
      transform: scale(0);
    }
  }
}
