* {
  box-sizing:border-box;
}

html, body {
  position: relative;
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  font-family: $font-sans;
  color: $black;
  font-weight: normal;
  line-height: 1;
  font-size: 100%;
  @media #{$wee} {
    font-size: 110%;
  }
}

p, ul, ol, li, h1, h2, h3 {
  @include line-height;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

p, ul, ol, blockquote {
  margin-bottom: $lh;
}

ul, ol {
  margin-left: $lh;
}

h1, h2 {
  margin: 0 0 $line-height-em/2 0;
}

* + h2 {
  margin-top: $lh;
}

a {
  color: $black;
  text-decoration: underline;
  &:hover {
    color: $black;
    text-decoration: none;
  }
  p & {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

figure {
  margin: 0 0 $lh 0;
}

code {
  font-family: $font-code;
  color: blue;
  a {
    color: blue;
  }
  &[class*=language-] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

small {
  @include font-small;
}

blockquote {
  border-left: 1.5px solid $black;
  margin: 0;
  margin-bottom: $lh;
  padding-left: $lh;
  footer {
    @include font-small;
  }
  cite {
    @include font-small;
  }
}

strong {
  font-weight: normal;
}

hr {
  border: 1.5px solid $black;
  margin-bottom: $lh;
}

@media #{$small} {
  ul, ol {
    margin-left: 0;
  }
}