html,
body {
  height: 100%;
}

body {
  overflow-y: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body.admin-bar {
  margin-top: 32px;
}

.wrapper {
  background: white;
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.admin-bar .wrapper {
  height: calc(100% - #{$header-height} - 32px);
}

#menu-toggle:checked ~ .wrapper {
  overflow-y: hidden;
}

.main {
  width: 100%;
}

.article__inner {
  position: relative;
  z-index: 49;
}

.post__footer {
  padding-bottom: 10vh !important;
}

.article {
  padding-top: 10vh;
  min-height: 58vh;
}

.article:first-of-type {
  padding-top: calc(#{$header-height} + 10vh);
}

.prose .post__header {
  margin-bottom: 2em;
}
