body,
.wrapper {
  
}

// .wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   height: calc(100% - #{$header-height});
//   margin-top: $header-height;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   -webkit-overflow-scrolling: touch;
// }

#menu-toggle:checked ~ .wrapper {
  overflow-y: hidden;
}

.main {
  width: 100%;
}

.article__inner {
  position: relative;
  z-index: 49;
}

.post__footer {
  padding-bottom: 30vh !important;
}

.article {
  padding-top: 30vh;
}

.article:first-of-type {
  padding-top: calc(#{$header-height} + 15vh);
}

