// LEFT / RIGHT

$max-aligned-img: 16em;

.prose .alignleft,
.prose .alignright {
  width: $max-aligned-img !important; // NOTE override poor inlined WP styles
}

.prose .alignleft img,
.prose .alignright img {
  width: 100% !important; // NOTE override poor WP behaviour
}

.prose .alignleft {
  float: left;
  margin-top: 0;
}

.prose .alignright {
  float: right;
  margin-top: 0;
}

.prose p .alignright {
  margin-right: 0;
}

.prose p .alignleft {
  margin-left: 0;
}

.prose img.alignleft {
  padding-right: var(--gutter);
}

.prose img.alignright {
  padding-left: var(--gutter);
}

.prose img.alignleft {
  @media (min-width: 864px) {
    margin-left: calc(#{$max-aligned-img} / 2 * -1);
    padding-left: var(--gutter);
  }
  @media (min-width: 1120px) {
    margin-left: calc(#{$max-aligned-img} * -1);
  }
}

.prose img.alignright {
  @media (min-width: 864px) {
    margin-right: calc(#{$max-aligned-img} / 2 * -1);
    padding-right: var(--gutter);
  }
  @media (min-width: 1120px) {
    margin-right: calc(#{$max-aligned-img} * -1);
  }
}

.prose .alignleft {
  @media (min-width: 864px) {
    margin-left: calc((100vw - #{$container-width}) / 2 - (#{$max-aligned-img} / 2) + #{$container-padding});
  }
  @media (min-width: 1120px) {
    margin-left: calc((100vw - #{$container-width}) / 2 - #{$max-aligned-img} + #{$container-padding});
  }
}

.prose .alignright {
  @media (min-width: 864px) {
    margin-right: calc((100vw - #{$container-width}) / 2 - (#{$max-aligned-img} / 2) + #{$container-padding});
  }
  @media (min-width: 1120px) {
    margin-right: calc((100vw - #{$container-width}) / 2 - #{$max-aligned-img} + #{$container-padding});
  }
}

.prose div.aligncenter {
  max-width: none;

  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}

.prose div.aligncenter .wp-caption-text {
  max-width: 608px;
  margin-right: auto;
  margin-left: auto;
}

.prose img.aligncenter {
  @media (min-width: 640px) {
    margin-left: calc((100vw - #{$container-width}) / 2 * -1);
    margin-right: calc((100vw - #{$container-width}) / 2 * -1);
    max-width: calc(100vw - (var(--gutter) * 2));
  }

  @media (min-width: 1200px) {
    margin-left: calc((1200px - #{$container-width}) / 2 * -1);
    margin-right: calc((1200px - #{$container-width}) / 2 * -1);
    max-width: calc(1200px - (var(--gutter) * 2));
  }
}

// GALLERY

.prose .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding-right: calc(var(--gutter) / 2);
  padding-left: calc(var(--gutter) / 2);
}

.prose .gallery-columns-1 {
  display: block;
}

.prose .gallery dd {
  padding-left: 0;
}

.prose .gallery-item {
  margin-bottom: var(--gutter);
  padding-right: calc(var(--gutter) / 2);
  padding-left: calc(var(--gutter) / 2);
}

.prose .gallery-columns-2 .gallery-item {
  @media (min-width: 410px) {
      max-width: calc((100vw - var(--gutter)) / 2);
  }
}

.prose .gallery-columns-3 .gallery-item {
  @media (min-width: 500px) {
    max-width: calc((100vw - var(--gutter)) / 3);
  }
}

.prose .gallery-columns-4 .gallery-item {
  @media (min-width: 410px) {
    max-width: calc((100vw - var(--gutter)) / 2);
  }

  @media (min-width: 766px) {
    max-width: calc((100vw - var(--gutter)) / 4);
  }
}

.prose .gallery-columns-5 .gallery-item {
  @media (min-width: 410px) {
    max-width: calc((100vw - var(--gutter)) / 3);
  }

  @media (min-width: 900px) {
    max-width: calc((100vw - var(--gutter)) / 5);
  }

  @media (min-width: 1200px) {
  }
}

.prose .gallery-columns-6 .gallery-item {
  @media (min-width: 410px) {
    max-width: calc((100vw - var(--gutter)) / 2);
  }

  @media (min-width: 500px) {
    max-width: calc((100vw - var(--gutter)) / 3);
  }

  @media (min-width: 1200px) {
    max-width: calc((100vw - var(--gutter)) / 6);
  }
}

.prose .gallery-columns-7 .gallery-item {
  @media (min-width: 410px) {
    max-width: calc((100vw - var(--gutter)) / 2);
  }

  @media (min-width: 500px) {
    max-width: calc((100vw - var(--gutter)) / 3);
  }

  @media (min-width: 1200px) {
    max-width: calc((100vw - var(--gutter)) / 7);
  }
}

.prose .gallery-columns-8 .gallery-item {
  @media (min-width: 410px) {
    max-width: calc((100vw - var(--gutter)) / 2);
  }

  @media (min-width: 766px) {
    max-width: calc((100vw - var(--gutter)) / 4);
  }

  @media (min-width: 1200px) {
    max-width: calc((100vw - var(--gutter)) / 8);
  }
}

.prose .gallery-columns-9 .gallery-item {
  @media (min-width: 410px) {
    max-width: calc((100vw - var(--gutter)) / 2);
  }

  @media (min-width: 500px) {
    max-width: calc((100vw - var(--gutter)) / 3);
  }

  @media (min-width: 1200px) {
    max-width: calc((100vw - var(--gutter)) / 6);
  }

  @media (min-width: 1600px) {
    max-width: calc((100vw - var(--gutter)) / 9);
  }
}

// OTHER

.prose [class*="instagram"] {
  margin: 0 auto !important;
}

.prose > iframe.instagram-media {
  margin-right: auto !important;
  margin-left: auto !important;
  width: calc(100vw - (var(--gutter) * 2)) !important;
}