.post {
  @include grid-row;
  position: relative;
  margin-bottom: 200px;
  .title {
    @include grid-column(12);
    @media #{$small} {
      @include grid-column(8, $offset:2);
    }
    font-size: $font-size-large;
    line-height: 1.1;
    font-family: $font-serif;
    font-weight: 700;
    margin-bottom: 1em;
  }
  .title-small {
    font-size: inherit;
    a {
      text-decoration: none;
    }
  }
  .content {
    @include grid-column(12);
    @media #{$small} {
      @include grid-column(8, $offset:2);
    }
    font-family: $font-serif;
    margin-bottom: $lh;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    small, .small {
      font-size: $font-size-small;
      font-family: $font-sans;
    }
    img {
      max-width: 100%;
      margin-bottom: $lh;
    }
    .wp-caption, figure {
      img {
        margin-bottom: $lh/2;
      }
    }
    .wp-caption-text, figcaption {
      @include font-small;
      a {
        @include font-small;
      }
    }
    blockquote {
      // border-left: 2px solid rgba(0,0,0,0.2);
      border-left: 2px solid $black;
      margin: 0;
      margin-bottom: $lh;
      padding-left: $lh;
      // color: $grey;
      a {
        // color: $grey;
      }
    }
  }
  .meta {
    @include font-small;
    @include grid-column(12);
    // color: $grey;
    @media #{$small} {
      @include grid-column(8, $offset:2);
    }
    a {
      // color: $grey;
    }
  }
  .tags {
    @include grid-column(12);
    @include clearfix;
    li {
      list-style-type: none;
      @include font-small;
      display: inline;
      margin-right: 0.2em;
      a {
        color: $grey;
        text-decoration: none;
        &:before {
          content: "#";
          display: inline-block;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    @media #{$small} {
      @include grid-column(2);
      position: absolute;
      left: 0;
      top: 0;
      li {
        display: block;
        margin-right: 0;
        a {
          text-decoration: underline;
          &:before {
            content: none;
          }
          &:hover {
            text-decoration: none;
            &:before {
              content: "#";
              width: 0.8em;
              display: inline-block;
              margin-left: -0.8em;
            }
          }
        }
      }
    }
  }
}

.notes-wrapper {
  @include grid-row;
  .notes {
    color: $grey;
    @include font-small;
    @include grid-column(8, $offset:2);
    list-style-type: none;
    a {
      color: $grey;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .note {
      .avatar {
        display: none;
      }
      blockquote {
        margin: 0;
        padding: $lh;
        color: $grey;
        a {
          color: $grey;
          text-decoration: underline;
        }
      }
    }
  }
}

.fwn {
  font-weight: 400;
}

@media #{$small} {
  .no-touch .blog .post {
    .tags,
    .meta {
      transition: opacity 0.3s ease;
      opacity: 0;
      transform: translateZ(0);
      .permalink & {
        opacity: 1;
      }
    }
    &:hover {
      .tags,
      .meta {
        opacity: 1;
      }
    }
  }
}

ul.post-tags {
  @include font-small;
  list-style-type: none;
  li {
    display: inline-block;
    margin-bottom: $lh/2;
    a {
      display: inline-block;
      text-decoration: none !important;
      padding: $lh/4 $lh/2 $lh/2.75 $lh/2;
      border: 1.5px solid $grey;
      border: 1.5px solid $black;
      border-radius: $lh;
      background: $black;
      color: white;
      &:hover {
        color: $black;
        background: white;
      }
    }
  }
}