.post__footer,
.post__header {
  @include container;
}

.post__time {
  display: inline-block;
  margin-bottom: 2em;
}

.post__time a {
  border: 1px solid $black;
  display: inline-block;
  height: 2.5rem;
  padding: 0.5rem;
}

.post__title {
  @include style-h1(700);
  margin-bottom: 1.5em;
}

.post__title a {
  text-decoration: none;
}

.post__title a:hover {
  color: black;
  text-decoration: none;
}

.post__footer {
  clear: both;
  margin-top: 1.5em;
}

.post__author a:hover {
  text-decoration: underline;
}

.wp-block-button__link {
  background-color: $black;
  border: 1px solid $black;
  text-decoration: none;
}

.wp-block-button__link:hover {
  background-color: $white;
  color: $black;
}

.is-style-outline .wp-block-button__link {
  border: 1px solid $black;
}

.is-style-outline .wp-block-button__link:hover {
  background-color: $black;
  color: $white;
}
