/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+php+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

/**
 * Theme customised heavily by Piper Haywood
 */

$prism-pink: #f92672;
$prism-grey: #75715E;
$prism-white: #F8F8F2;
$prism-orange: #FD971F;
$prism-yellow: #E6DB74;
$prism-green: #A6E22E;
$prism-blue: #66D9EF;
$prism-purple: #AE81FF;
$prism-black: #282828;


code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Courier, monospace;
  font-size: 92%;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  tab-size: 4;

  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0 0 1em 0;
  overflow: auto;
  // border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: $prism-black;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  // border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $prism-grey;
}

.token.punctuation {
  color: $prism-white;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: $prism-pink;
}

.token.boolean,
.token.number {
  color: $prism-purple;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: $prism-green;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: $prism-white;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: $prism-yellow;
}

.token.keyword {
  color: $prism-blue;
}

.token.regex,
.token.important {
  color: $prism-orange;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}


pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.token a {
  color: inherit;
}

code {
  &.language-javascript {
    .token {
      &.keyword {
        color: $prism-pink;
        &.keyword-function {
          color: $prism-blue;
          font-style: italic;
        }
        &.keyword-false,
        &.keyword-true {
          color: $prism-purple;
        }
      }
      &.operator {
        color: $prism-pink;
      }
      &.class-name {
        color: $prism-blue;
      }
    }
  }
}