.rainbow {
  .has-bg,
  .post-item__link,
  .comment-reply-link,
  .prose button,
  .comments input[type="submit"] {
    background: var(--color);
  }
  .post-item__link:hover {
    background: $white;
    color: $black;
  }
  .post__title a:hover {
    color: var(--color);
  }
  hr {
    background-color: var(--color);
    color: var(--color);
  }
  .prose > table tr > * {
    border-bottom: 1px solid var(--color);
  }
  .article .prose blockquote,
  .comment,
  .pingback,
  .comment-reply-link,
  .post__time .has-bg,
  textarea,
  .comments input[type="text"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="submit"],
  .prose button {
    border: 1px solid var(--color);
  }
  .wp-block-file .wp-block-file__button,
  .wp-block-button__link {
    background-color: var(--color);
    border: 1px solid var(--color);
  }
  .is-style-outline {
    .wp-block-button__link {
      border: 1px solid var(--color);
      &:hover,
      &:focus {
        background-color: var(--color) !important;
      }
    }
  }
  .wp-block-latest-posts.is-grid li,
  .wp-block-latest-comments__comment {
    border: 1px solid var(--color);
  }
  .post-page-numbers {
    background: var(--color);
  }
  @supports (text-decoration-color: var(--color)) {
    .prose s,
    .prose del,
    .prose strike,
    .prose a,
    .prose ins,
    .comments a,
    .post__author a:hover,
    .post__author a:focus,
    .post__author a:active,
    .post__tag a:hover,
    .post__tag a:focus,
    .post__tag a:active,
    .termindex a:hover,
    .termindex a:focus,
    .termindex a:active,
    .wp-block-tag-cloud a:focus,
    .wp-block-tag-cloud a:hover {
      text-decoration-color: var(--color);
    }
  }
}
