.rainbow .has-bg,
.rainbow .rpbt_shortcode li {
  background: var(--color);
}

.rainbow .rpbt_shortcode li:hover {
  background: none;
}

.rainbow .post__title a:hover {
  color: var(--color);
}

.rainbow .prose hr {
  color: var(--color);
  background-color: var(--color);
}

.rainbow .prose tr > * {
  border-bottom: 1px solid var(--color);
}

.rainbow .article .prose blockquote {
  border: 1px solid var(--color);
}

.rainbow a.skip-link:focus,
.rainbow a.skip-link:active {
  background-color: var(--color);
  color: $white;
}

.rainbow .termindex a:hover,
.rainbow .termindex a:focus {
  text-decoration-color: var(--color);
}

@supports (text-decoration-color: var(--color)) {
  .rainbow .prose s,
  .rainbow .prose del,
  .rainbow .prose strike,
  .rainbow .prose a,
  .rainbow .prose ins,
  .rainbow .post__author a:hover,
  .rainbow .post__author a:focus,
  .rainbow .post__author a:active,
  .rainbow .post__tag a:hover,
  .rainbow .post__tag a:focus,
  .rainbow .post__tag a:active {
    text-decoration-color: var(--color);
  }
}
