.prose > *:first-child {
  margin-top: 0;
}

.prose > div,
.prose > p,
.prose > ul,
.prose > ol,
.prose > h1,
.prose > h2,
.prose > h3,
.prose > h4,
.prose > h5,
.prose > h6,
.prose > dl,
.prose > blockquote,
.prose > address {
  @include container;
}

.prose > ol {
  @media (max-width: 45em) {
    margin-left: calc(2ch + 16px);
  }
}

.prose > ul:not(.post__tags) {
  @media (max-width: 42em) {
    margin-left: 18px;
  }
}

.prose p img.alignnone {
  padding: 0;
}

.prose a {
  text-decoration: underline;
}

.prose a:hover {
  text-decoration: none;
}

.prose h1 {
  @include style-h1(700);
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.prose h2 {
  @include style-h2(700);
  margin-bottom: 1.5em;
  margin-top: 4em;
}

.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @include style-h4;
}

.prose small {
  font-size: inherit;
}

.link_description > *,
.prose > * {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.prose img.alignleft,
.prose img.alignright,
.prose .wp-caption.alignleft,
.prose .wp-caption.alignright {
  margin-bottom: $container-padding;
}

.wp-caption {
  max-width: 100%;
}

.prose .wp-caption-text,
.prose p img {
  margin-bottom: 0;
}

.prose .wp-caption img {
  margin-bottom: .5em;
}

.prose abbr,
.prose acronym {
  text-decoration: none;
}

.prose address {
  font-style: normal;
}

.prose hr {
  border: none;
  height: 1px;
  color: black;
  background-color: black;
  @include container;
}

.prose code,
.prose kbd {
  @include code;
}

.prose pre {
  width: $container-width;
  max-width: calc(100vw - (var(--gutter) * 2));
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee;
  padding: $container-padding;
}

.prose pre h1,
.prose pre h2,
.prose pre h3,
.prose pre h4,
.prose pre h5,
.prose pre h6 {
  font-size: inherit;
  font-weight: inherit;
}

.prose pre code {
  display: block;
  white-space: pre-wrap;
}

.prose table {
  display: block;
  max-width: 100%;
  width: fit-content;
  overflow-x: scroll;
  border-collapse: collapse;
  padding-bottom: 1.5em;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.prose th {
  font-weight: normal;
  text-align: left;
}

.prose tr {
  vertical-align: top;
}

.prose tr > * {
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid black;
}

.prose tr > * {
  min-width: 9em;
  padding-right: .5em;
}

.prose tr > *:last-child {
  padding-right: 0;
}

.prose dd {
  padding-left: 1.5em;
}

.prose ins {
  position: relative;
}

.prose ins:before {
  content: "‸";
  top: 2px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.article .prose blockquote {
  border: 1px solid black;
  padding: $container-padding;
}

.prose blockquote p {
  margin-bottom: $container-padding;
}

@media (max-width: 42em) {
  .article .prose > blockquote {
    margin-right: var(--gutter);
    margin-left: var(--gutter);
  }
}

.prose > blockquote blockquote {
  margin-bottom: $container-padding;
}

.prose blockquote *:last-child {
  margin-bottom: 0;
}

.prose .wp-caption-text {
  font-style: italic;
}

.prose .wp-caption-text i,
.prose .wp-caption-text em {
  font-style: normal;
}

.prose > *:last-child {
  margin-bottom: 0 !important;
}



