.container {
  @include container;
}

.container--full {
  max-width: 100%;
}

.visuallyhidden {
  @include visuallyhidden;
}

.has-bg {
  background: black;
  color: white;
  padding: .25em;
}

.has-bg a {
  text-decoration: none;
}

a.has-bg:hover {
  background: none;
  color: inherit;
  text-decoration: none;
}

a.skip-link {
  display: block;
  height: 1px;
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  z-index: -999;
}

a.skip-link:focus,
a.skip-link:active {
  background-color: yellow;
  left: auto;
  top: auto;
  width: 100%;
  height: $header-height;
  overflow: auto;
  margin: 0 auto;
  padding: $container-padding;
  text-align: center;
  z-index: 999;
}
