$black: #000000;
$grey: #949494;
$white: #ffffff;

$font-mono: 'IBMPlexMono', monospace;

$container-width: 40rem;
$container-padding: 1rem;
$container-padding-mobile: .5rem;
$header-height: 3.5rem;

$sm: 42em;

$transition-duration: 250ms;
$border-width: 1px;

$size-body: 1rem;
$size-h1: $size-body;
$size-h2: $size-body;
$size-h3: $size-body;
$size-h4: $size-body;
