.DS_Store
node_modules
.sass-cache
*.map

/*
!/.gitignore
!/gulpfile.js
!/bower.json
!/package.json
!/README.md
!/favicon.ico
!/js/
!/css/
!/wp-content/

/wp-content/*
!/wp-content/themes/

/wp-content/themes/*
!/wp-content/themes/notebook-ph/

/wp-content/themes/notebook-ph/fonts.css